<% var rpath = "../".repeat(level) %>
<link rel="stylesheet" href="<%= rpath %>css/navbar.css">

<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container">
        <a class="navbar-brand" href="<%= rpath %>.">Z-Translator</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="navbar-nav mr-auto">
                <a class="nav-item nav-link" href="<%= rpath %>.">Home</a>
                <a class="nav-item nav-link" href="<%= rpath %>about-us">About us</a>
            </div>
            <div class="navbar-nav">

                <% if (account) { %>
                <a href="<%= rpath %>dashboard" class="nav-link">Dashboard</a>
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown"><img <%= account["avatar-url"] ? `src=${account["avatar-url"]} class=custom` : `src=${rpath}images/profile.svg`%> alt="" id="user-avatar"><%= account.nickname %></a>
                    <div class="dropdown-menu fade-in">
                        <a class="nav-link" href="<%= rpath %>user/<%= account.id %>">Profile</a>
                        <a class="nav-link" href="<%= rpath %>settings">Settings</a>
                        <a class="nav-link" href="<%= rpath %>logout">Log Out</a>
                    </div>
                </div>
                

                <% } else { %>
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown"><img src="<%= rpath %>images/profile.svg" alt="">Profile</a>
                    <div class="dropdown-menu fade-in">
                        <a class="dropdown-item" href="<%= rpath %>signin">Sign in</a>
                        <a class="dropdown-item" href="<%= rpath %>signup">Sign up</a>
                    </div>
                </div>

                <% } %>
            </div>
        </div>
    </div>
</nav>