<html lang="en">

<head>
    <%- include('../partials/head') %>
    <title>Z-Translator - Sign up</title>
    <link rel="stylesheet" href="css/signup.css">
    <script src="scripts/signup.js"></script>
</head>

<body>
    <%- include('../partials/navbar') %>

    <h2 id="title">Sign Up</h2>
    <div id="signin">Already have an account? <a href="signin">Sign In here!</a></div>

    <div class="jumbotron">
        <form action="" method="POST">
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" name="email" id="email" required>
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                    else.</small>
            </div>
            <div class="form-group">
                <label for="nickname">Username</label>
                <input type="text" class="form-control" name="nickname" id="nickname" maxlength="50" required>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" name="password" id="password" minlength="8" maxlength="64"
                    required>
                <small id="passwordHelp" class="form-text text-muted">At least 8 characters. Make sure to have a strong
                    one.</small>
            </div>
            <button type="submit" class="btn btn-primary">Create Account</button>
        </form>
        <h3>OR</h3>
        <div id="others">
            <button id="minecraft" class="btn signin" onclick="open_minecraft()"><img src="images/minecraft.png"
                    alt="">Sign in with Minecraft</button>
            <a id="discord" class="btn signin disabled" disabled><img src="images/discord-white.svg" alt="">Sign in with Discord</a>
            <a id="github" class="btn btn-dark signin"
                href="https://github.com/login/oauth/authorize?scope=read:user%20user:email&client_id=<%= github_client %>"><img
                src="images/github.png" alt="">Sign in with GitHub</a>
        </div>
    </div>


    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <form class="modal-content" id="loginModalForm" onsubmit="asubmit(event)">
                <div class="modal-header">
                    <h5 class="modal-title" id="loginModalLabel">Loading...</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="username" class="col-form-label">...</label>
                        <input type="text" class="form-control" id="modal-username">
                        <small id="loginHelp" class="form-text text-muted">...</small>
                    </div>
                    <div class="form-group">
                        <label for="password" class="col-form-label">Password:</label>
                        <input type="password" class="form-control" id="modal-password"></input>
                        <small class="form-text text-muted">Used to authenticate with their API - we won't store it
                            anywhere.</small>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="reset" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Log in</button>
                </div>
            </form>
        </div>
    </div>

    <div class="modal fade" id="completeModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <form class="modal-content" method="POST">
                <div class="modal-header text-center">
                    <h4 class="modal-title w-100 font-weight-bold">Complete your information</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body mx-3">
                    <div class="md-form mb-4">
                        <label data-success="right" for="complete-name">Username</label>
                        <input type="text" id="complete-name" class="form-control" name="nickname" required>
                    </div>
                    <div class="md-form mb-4">
                        <label data-success="right" for="complete-email">Email</label>
                        <input type="email" id="complete-email" class="form-control" name="email" required>
                    </div>

                    <div class="md-form mb-4">
                        <label data-success="right" for="complete-pass">Password</label>
                        <input type="password" id="complete-pass" class="form-control" minlength="8" maxlength="64"
                            name="password" required>
                    </div>

                    <div class="md-form mb-4">
                        <label data-success="right" for="complete-avatar">Avatar URL</label>
                        <input type="url" id="complete-avatar" class="form-control"
                            name="avatar" pattern="^https?:\/\/.+\.(png|jpe?g|tif|svg)$">
                    </div>

                    <div class="md-form mb-4" id="complete-mcform" hidden>
                        <label data-success="right" for="complete-mcname">Minecraft username</label>
                        <input type="text" id="complete-mcname" class="form-control" pattern="^\w+$" name="mc-username" readonly>
                        <input type="text" id="complete-mcuuid" name="mc-uuid" hidden>
                    </div>

                    <% if (callback_github) { %>
                    <div class="md-form mb-4">
                        <label data-success="right" for="complete-github">GitHub username</label>
                        <input type="text" id="complete-github" class="form-control" pattern="^\w+$"
                            value="<%= callback_github %>" name="github-name" disabled>
                    </div>
                    <% } %>

                    <% if (callback_discord) { %>
                    <div class="md-form mb-4">
                        <label data-success="right" for="complete-discord">Discord ID</label>
                        <input type="number" id="complete-discord" class="form-control" pattern="^\d{16,18}$"
                            value="<%= callback_discord %>" name="discord-id" disabled>
                    </div>
                    <% } %>

                </div>
                <div class="modal-footer d-flex justify-content-center">
                    <button class="btn btn-primary">Finish</button>
                </div>
            </form>
        </div>
    </div>

    <% if (callback_github) { %>
        <div id="gitinfo"><%= JSON.stringify(callback_github) %></div>
        <script>
        ask_info(JSON.parse(document.getElementById("gitinfo")))
        document.getElementById("gitinfo").remove();
        </script>
    <% } %> 

</body>

</html>